.box {
  height: 100vh;
}
.show {
  transition: all 5s ease;
  background-color: skyblue;
  transform: scale(0.85);
}
.image:hover {
  transition: 3s;
  transition-delay: 1s;
  transform: scale(1.15);
}
.up {
  position: fixed;
  top: 90vh;
  margin-left: 90vh;
}
